    .article {
        h2 {
            font-weight: 300;
            font-size: 3rem;
            margin: 0;
        }
        .sub-header {
            color: #eb7875;
            text-transform: uppercase;
            font-size: 1.5em;
            font-weight: normal;
            margin: 0;
            line-height: 2;
        }
        p {
            font-weight: 300;
            letter-spacing: 1px;
            color: #222222;
            font-size: 1em;
        }
    }