@import './../mixin/mixin';
#design-container {
    // min-height: 722px;
    @include heighCalc(722);
    display: flex;
    flex-direction: row;
    flex: 1;
}

#design-container {
    .article-container {
        @include widthCalc(869);
        padding: 9% 9.5% 9% 9.5%;
        box-sizing: border-box;
        display: block;
        article {
            border: 1px solid aqua;
            display: block;
            width: 100%;
            height: 100%;
            position: relative;
        }
    }
}

#design-container {
    #img {
        @include widthCalc(1440-869);
        border: 1px solid aqua;
        display: flex;
        position: relative;
        .triangle-down-right {
            width: 100%;
            height: 0;
            padding-top: 100%;
            overflow: hidden;
            position: absolute;
            bottom: 0;
        }
        .triangle-down-right:after {
            content: "";
            display: block;
            width: 0;
            height: 0;
            margin-top: -1440px;
            border-top: 1440px solid transparent;
            border-right: 1440px solid rgb(235, 120, 117);
        }
    }
}

#design-container {
    article {
        h2 {
            font-weight: 300;
            font-size: 3rem;
            margin: 0;
        }
    }
}