@import './../mixin/mixin';
#design-container {
    @include heighCalc(722);
    display: flex;
    flex-direction: row;
    flex: 1;
    position: relative;
}

#design-container {
    .article-container {
        @include widthCalc(869);
        padding: 9% 9.5% 9% 9.5%;
        box-sizing: border-box;
        display: block;
        article {
            display: block;
            width: 100%;
            height: 100%;
            position: relative;
        }
    }
}

#design-container {
    #img-container {
        display: flex;
        flex: 1;
        position: relative;
        .triangle-down-right {
            @include background-center('../../assets/triangle.png');
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 87%;
            margin: 0 auto;
            background-size: initial;
            z-index: -1;
            background-position: 0% 16%;
        }
    }
}