@import './../mixin/mixin';
@import './../variables/variables';
#header-container {
    @include heighCalc(812);
    @include background-center('../assets/header-bg.jpg');
    background-size: cover;
    display: flex;
    flex: 1;
    align-items: center;
    .title-container {
        display: flex;
        flex: 1;
        flex-direction: column;
        height: 50%;
        justify-content: flex-start;
        align-items: center;
        article {
            text-align: center;
        }
    }
    .play-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 30%;
        button.button-fab {
            width: 65px;
            height: 65px;
            border-radius: 50%;
            background-color: $play-btn-color;
            outline: none;
            border: 1px solid $play-btn-color;
            span {
                width: 0;
                height: 0;
                border-top: 15px solid transparent;
                border-bottom: 15px solid transparent;
                border-left: 20px solid #fff;
                display: block;
                position: relative;
                margin: 0 auto;
            }
        }
    }
    .submit-container {
        display: flex;
        flex: 1;
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        input[type="submit"] {
            @include widthCalc(200);
        }
        p {
            font-weight: 100;
            font-size: .85em;
            color: #d2d2d2;
        }
    }
}

@media screen and($tablet-max) {
    #header-container {
        padding: 5% 0;
        @include resetHeight();
        .submit-container {
            input[type="submit"] {
                width: 50%;
                font-size: 1.5em;
                letter-spacing: 1px;
                font-weight: 200;
            }
        }
        .article.article {
            width: 100%;
            h2 {
                font-size: 2.35em;
            }
        }
        .play-container {
            margin: 2% 0;
        }
    }
}