@import './../mixin/mixin';
@import './../variables/variables';
#registration-container {
    display: flex;
    flex-direction: column;
    @include heighCalc(466);
    padding: 3.5% 9.5%;
    box-sizing: border-box;
    background-color: $form-background-color;
    color: #fff;
    .content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex: 2;
        .article {
            display: flex;
            flex: 1.5;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }
    }
}

#registration-container {
    .title-container {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        padding: 10px 0;
        padding-right: 5%;
        box-sizing: border-box;
        img {
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
            margin-right: 5px;
            margin-top: 5px;
        }
        span {
            font-weight: 100;
            font-size: .85em;
        }
    }
    .disclaimer {
        font-weight: 100;
        font-size: .85em;
        text-align: center;
        letter-spacing: 2px;
        a {
            text-decoration: underline;
            letter-spacing: 0;
        }
    }
}

@media screen and ($tablet-max) {
    #registration-container {
        padding: 3%;
        border: 1px solid;
        @include resetHeight();
        .content {
            flex: auto;
            padding: 2%;
            .article {
                flex: auto;
                flex-direction: column;
                h2 {
                    font-size: 2em;
                }
            }
        }
        form{
            flex-direction: column;
            input{
                margin-top: 1%;
            }
        }
    }
}