@mixin background-center($backgroundimage) {
    background-image: url($backgroundimage);
    background-position: center center;
    background-repeat: no-repeat;
}

@mixin heighCalc($height) {
    height: ($height/4963 * 100%);
    height: ($height/3206 * 100%);
    min-height: $height + px;
}

@mixin widthCalc($width) {
    width: ($width/1440 * 100%);
}